button {
	border: none;
	outline: none;
	background-color: #555;
	color: white;
	padding: 10px 20px;
	cursor: pointer;
}
button.on {
	background-color: green;
}
ol {
	margin: 10px 0;
	padding: 0;
	border: 1px solid rgb(87, 162, 90);
}
li {
	padding: 5px;
	border-bottom: 1px solid #1B7E3B;
	cursor: pointer;
}
li.on {
	background-color: #1B7E3B;
	color: white;
}
ol li:last-child {
	border-bottom: none;
}